@import "../../styles";

.message {
  position: fixed;
  top: 3rem;
  z-index: 100;
  background-color: #484;
  width: 75%;

  &.error {
    background-color: darkred;
  }
}

.scrollable {
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
}

.sidenav {
  display: flex;
  flex-direction: row;

  &__nav {
    background-color: #444;
    padding: 1rem;

    mat-card {
      margin-bottom: 1rem;

      &:hover {
        background: rgba(0, 0, 0, .1);
      }

      mat-card-subtitle {
        margin-bottom: 0;
      }
    }
  }

  &__content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .rule-card {
      width: 80%;
      margin: 1rem 0;

      mat-card-title {
        display: flex;
        align-items: center;

        p,
        mat-form-field,
        mat-slide-toggle {
          margin-right: 2rem;
        }

        input.mat-input-element {
          font-size: 20px;
        }

      }
    }
  }
}

.rule-card__content {
  flex-direction: row;
  align-items: flex-start;

  &,
  &__column {
    display: flex;
    justify-content: stretch;
  }

  &__column {
    flex-direction: column;
    align-items: stretch;
    flex: 1;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    .mat-card {
      margin: 1rem;
    }
  }

  .mat-card.add {
    border: 4px grey dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    box-shadow: none;

    &:hover {
      background-color: #444;
    }
  }
}

button.mat-fab.btn-fab {
  left: 10rem;
}
