pre.pre-dark {
  color: #89ddff;
  border:none;
  padding: 2rem;
}

pre span {
  white-space: normal;
}

.string {
  color: #c3e88d;
}

.boolean {
  color: #66aaff
}

.number,
.null {
  color: #f78c6c;
}

.key {
  color: #C792EA;
}
