<ng-select class="dark"
           [items]="entities"
           bindLabel="name"
           [ngModel]="selectedEntity"
           groupBy="type"
           placeholder="Select an entity"
           (change)="handleChange($event)"
           [clearable]="false">
</ng-select>
<ng-select class="dark"
           *ngIf="selectedEntity"
           [items]="selectedEntity.properties"
           [(ngModel)]="selectedEntity.selectedProperty"
           (change)="handleChange()"
           placeholder="Select a state property"
           [clearable]="false">
</ng-select>
